__pycache__
*.pytest_cache
venv/
# .env
*.db
*.idea
*.ruff_cache

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore raw datasets and outputs
1_datasets/*.csv
1_datasets/**/*.csv

# Ignore shapefiles and related components
2_data_preparation/*.shp
2_data_preparation/*.dbf
2_data_preparation/*.shx
2_data_preparation/*.prj

# Ignore other potential large files
*.zip

# Natural Earth temp & shapefile parts
1_datasets/boundaries/_tmp_ne50/
1_datasets/boundaries/*.zip
1_datasets/boundaries/*.shp
1_datasets/boundaries/*.dbf
1_datasets/boundaries/*.shx
1_datasets/boundaries/*.prj
1_datasets/boundaries/*.cpg
1_datasets/boundaries/*.VERSION.txt
1_datasets/boundaries/*README.html
